*.pyc
configure
Makefile
Makefile.in
aclocal.m4
config.log
ABOUT-NLS
INSTALL
autom4te.cache
compile
config.guess
config.h
config.h.in
config.rpath
config.status
config.sub
confinc
confmf
depcomp
ibus-pinyin-*.tar.gz
ibus-pinyin.spec
install-sh
libtool
ltmain.sh
missing
pinyin-database-*.tar.bz2
rpm
stamp-h1
py-compile
mkinstalldirs
